header {
    grid-area: header;

    width: auto;
    height: auto;
    background-image: linear-gradient(to bottom, #243B55 0%, #141E30 100%);
    .menuHeader{
        ul{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
        li{
            list-style-type: none;
            margin: 0 20px;
            a{
                color: white;
                text-decoration: none;
                font-family: 'Silkscreen', cursive;
                font-size:large;
                .navImage{
                    height: 60px;
                    border-radius: 50%;
                }
        }
        }
    }
}

footer{
    grid-area: footer;
    background-image: linear-gradient(to bottom, #243B55 0%, #141E30 100%);
    padding:0px;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        li{
            list-style-type: none;
            margin: 0 20px;
            a{
                color: white;
                text-decoration: none; 
                .footerImage{
                    height: 40px;
                }
            }
        }
    }
}

.flexContainer1{
    grid-area: cosa;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flexContainer3{
    @extend .flexContainer1;
    grid-area: cosa3;
    padding: 30px;
    justify-content: space-around;
    height:auto;
    div{
        border: solid 3px red;
        border-radius: 5px;
    }
}

.flexContainer2{
    @extend .flexContainer1;
    grid-area: cosa2;
    padding: 30px;
    height: auto;
    flex-wrap: nowrap;
    div{   
        padding: 30px;
        margin: 20px;
        background-color: linear-gradient(90deg, #243B55 0%, #334756 100%);
        border-radius: 50%;
    }
}

.intro{
    grid-area: introduccion;
}

.uno{
    text-align: center;
    color:white;
    font-family: 'Silkscreen', cursive;
}

body{
    background-image: linear-gradient(to top, #243B55 0%, #141E30 100%);
}

.therteee{
    justify-self: center;
    grid-area: caru;
    height: 75%;
    width: 50%;
}

.extra{
    grid-area: extra;
}

.arte2{
    @extend .flexContainer1;
    grid-area: arte;
    display:row;
    div{
        margin:10px;
    }
    img{
        height:90%;
        width:90%;
    }
}

.tattooer{
    grid-area: artista;
   img{
    height:100%;
    width: 100%;
   }
}

.tattooerInfo{
    grid-area: info;
    color: white;
}
.tatuajes{
    grid-area: tatuajes;
    img{
        height:auto;
        width:auto;
    }
}

.pad{
    margin:20px;
    padding:20px;
}

.musico{
    grid-area: musico;
    img{
        width: 100%;
        height: 100%;
    }
}
.uno{
    color:white;
}

.info{
    grid-area: info;
    color: white;
}
.musicTrack1{
    grid-area: cancion1;
}
.star{
    padding-top: 0px;
    width: 100%;
}
.musicTrack2{
    grid-area: cancion2;
}

.largee{
    font-size: 50px;
}

.right{
    text-align: right;
}

.gridIndex{
    display: grid;
    border: solid 3px red;
     border-radius: 5px;

    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "introduccion"
    "caru"
    "extra"
    "cosa3"
    "cosa2"
    "footer"
    ;
    gap: 20px;
}


.gridArt {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "introduccion"
    "artista"
    "info"
    "tatuajes"
    "tatuajes"
    "tatuajes"
    "footer"
    ;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.gridArt2 {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "introduccion"
    "arte"
    "arte"
    "footer"
    ;
    gap: 20px;
}

.gridMusic {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: 
    "header"
    "introduccion"
    "musico"
    "info"
    "cancion1"
    "cancion2"
    "footer"
    ;
    gap: 20px;
}

.standard2{
    grid-area: standard;
    width: auto;
    img{
        height: 100%;
        width: 100%;
    }
}
.standard{
    @extend .flexContainer1;
    grid-area: standard2;
    padding: 30px;
}


.standard3{
    @extend .flexContainer1;
    grid-area: standard3;
    padding: 30px;
}

.gridEvents{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header"
    "standard"
    "standard2"
    "standard3"
    "footer"
    ;
    gap: 20px;
}


@media (min-width: 768px){
    .gridIndex{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "introduccion introduccion introduccion"
        "caru caru extra"
        "cosa cosa cosa"
        "cosa3 cosa3 cosa3"
        "cosa2 cosa2 cosa2"
        "footer footer footer"
        ;
    }
    .flexContainer1{
        flex-direction: row;
    }
    .therteee{
        height: 100%;
        width: 50%;
        border: solid 3px red;
     border-radius: 5px;
    }
    header{
        .menuHeader{
            ul{
                flex-direction: row;
            }
        }
    }

    .gridArt2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "introduccion introduccion introduccion"
        "arte arte arte"
        "arte arte arte"
        "footer footer footer"
        ;
        gap: 20px;
    }

    .gridArt {
        display: grid;
        grid-template-columns: 3fr,1fr,1fr,1fr;
        grid-template-areas: 
        "header header header header"
        "introduccion introduccion introduccion introducion"
        "artista tatuajes tatuajes tatuajes"
        "info tatuajes tatuajes tatuajes"
        "info tatuajes tatuajes tatuajes"
        "footer footer footer footer"
        ;
        gap: 20px;
    }

    .tatuajes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items:flex-end;
        align-content: center;
        justify-content: space-around;
        img{
            width: auto;
            height: auto;
        }
        }

    .gridMusic {
        display: grid;
        grid-template-columns: 2fr,1fr,1fr;
        grid-template-areas: 
        "header header header"
        "introduccion introduccion introduccion"
        "musico cancion1 cancion1"
        "info cancion2 cancion2"
        "footer footer footer"
        ;
        gap: 20px;
    }
    .star{
       
    }
    .musico{
        img{
            height:50%;
            width: 90%;
        }
    }

    .tattooer{
        padding:0px;
        img{
            width: 100%;
            height: 100%;
        }
    }

    .gridEvents{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "standard standard standard"
        "standard2 standard3 standard3"
        "standard2 standard3 standard3"
        "footer footer footer"
        ;
        gap: 20px;
    }

    .standard{
        flex-direction: column;
    }

    .standard3{
        flex-direction: column;
    }
    
}

@media (min-width: 1020px){
    .gridIndex{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "header header header"
        "introduccion introduccion introduccion"
        "caru caru extra"
        "cosa cosa cosa"
        "cosa3 cosa3 cosa3"
        "cosa2 cosa2 cosa2"
        "footer footer footer"
        ;
    }
}

@media (min-width: 1250px){
    .gridArt {
        display: grid;
        grid-template-columns: 3fr,1fr,1fr,1fr;
        grid-template-areas: 
        "header header header header"
        "introduccion introduccion introduccion introducion"
        "artista artista tatuajes tatuajes"
        "artista artista tatuajes tatuajes"
        "info tatuajes tatuajes tatuajes"
        "footer footer footer footer"
        ;
        gap: 20px;
    }
}

@keyframes example {
    from {color: black;}
    to {color: yellow;}
  }
  .example2{
    animation-name: example ;
    animation-duration: 4s;
    animation-delay: calc(var(--scroll) * -1s);
  }